extends ../layouts/common
block layout
    if errors
        each err in errors 
            .alert.alert-danger= err
    h1 Dang ki
    form(action="/sign_up", method="POST", enctype="multipart/form-data")
        .form-group
            label(for="name") Name
            input#name.form-control(name="name", type="text",
            value = values ? values.name: "")
        .form-group
            label(for="email") Email
            input#email.form-control(name="email", type="text",
            value = values ? values.name: "")
        .form-group
            label(for="pass") PassWord
            input#pass.form-controll(name="password", type="password" )
        .form-group
            label(for="sdt") Phone
            input#sdt.form-controll(name="phone", type="text",
            value= values ? values.phone : "" )
        .form-group
            label(for="avatar") Avatar
            input#avatar.form-controll(name="avatar", type="file")
        button Sign